@import url('./../../App.css');

.loader {
    display: flex;
    height: 50px;
    width: 50px;
    position: relative;
}
.circle-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: spin 1s infinite linear;
    border-bottom: 2px solid var(--azulado);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin-right: 4px;
    margin-bottom: 4px;
}
.circle-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: spin 1s infinite linear;
    animation-delay: 0.333s;
    border-bottom: 2px solid var(--azulado);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin-left: 4px;
    margin-bottom: 4px;
}

.circle-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: spin 1s infinite linear;
    animation-delay: 0.666s;
    border-bottom: 2px solid var(--azulado);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin-top: 4px;
}

.circle-1 .dot, .circle-2 .dot, .circle-3 .dot {
    display: flex;
    height: 10px;
    width: 10px;
    background: var(--azulado);
    border-radius: 50%;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}