
.character-container {
    display: flex;
    flex-direction: column;
}

.character {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.character img {
    padding: 5px;
    box-sizing: content-box;
}

.character .info {
    display: flex;
    padding: 5px;
    box-sizing: content-box;
    flex-direction: column;
}

.character .info .field {
    display: flex;
    flex-direction: row;
}

.character .info .field .label {
    font-weight: bold;
    margin-right: 5px;
}